<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".UCMCApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UCMC"
        tools:targetApi="33">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.gta.ucmc.androidx-startup">
            <meta-data android:name="com.gta.ucmc.LoggerInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
